.root {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /*gap: var(--mantine-space-xs);*/
}

.leftColumn {
}

.rightColumn {
}

.productImage {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.priceText {
    border-top: solid 1px var(--mantine-color-gray-1);
    border-bottom: solid 1px var(--mantine-color-gray-1);
}

.addToCart {
    width: 150px;
    border-radius: 0px;
    background-color: transparent;
    color: black;
    border: black solid 2px ;
}

.addToCart:hover {
    background-color: var(--mantine-color-gray-7);
}

